.advantages .conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list .attention::before,
.feature-list .punctuality::before,
.feature-list .planning::before,
.feature-list .technologies::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background-color: var(--button-font-color);
}
.feature-list .attention::before {
  background-image: url(../images/icons/antenna.svg);
  background-repeat: no-repeat;
}
.feature-list .punctuality::before {
  background-image: url(../images/icons/clock.svg);
  background-repeat: no-repeat;
}
.feature-list .planning::before {
  background-image: url(../images/icons/diagram.svg);
  background-repeat: no-repeat;
}
.feature-list .technologies::before {
  background-image: url(../images/icons/astronaut.svg);
  background-repeat: no-repeat;
}
